:root {
    --bg-dark: #333;
    --bg-light: #fff;
    --c-title: #5BB0BA;
    --c-link: #C15B78;
    --c-rose: #F6C8CC;
    --h-nav: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html[data-theme="light"] {
    background: var(--bg-light);
    color: var(--bg-dark);
}

html[data-theme="dark"] {
    background: var(--bg-dark);
    color: var(--bg-light);
}

.container {
    width: 90%;
    margin: auto;
    font-size: 1rem;
}

pre {
    overflow-x: scroll;
    padding: 0.25em;
    border-radius: .25em;
}

html[data-theme="light"] pre {
    background-color: var(--c-rose) !important;
}

html[data-theme="light"] label[for="hamburger"] {
    color: var(--bg-dark);
}

@media screen and (min-width: 720px) {
    .container {
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    aside.sitenav {
        width: 280px;
        display: inline-block;
        height: 60vh;
        vertical-align: top;
        padding-top: 40px;
    }

    article.content {
        display: inline-block;
        width: calc(100% - 280px - 20px);
    }
}

aside.sitenav>nav>ul {
    display: block;
    margin: auto;
    padding: 0;
}

aside>nav>ul>li {
    list-style: none;
    font-size: 1.15rem;
    margin-top: 0.5em;
    font-weight: 500;
}

.toc-container {
    font-weight: 500;
    color: var(--c-title);
}

.toc-container a {
    color: var(--c-title);
}

.theme-toggle {
    color: var(--bg-light);
}

h1 {
    color: var(--c-title);
    font-size: 2.25rem;
}

a {
    color: var(--c-link)
}

img {
    max-width: 100%;
}

nav[role="navigation"] .theme-toggle {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background-color: var(--c-title);
    justify-content: center;
    align-items: center;
}

nav[role="navigation"]>hgroup {
    display: flex;
    max-height: var(--h-nav);
    flex: 1;
}

nav[role="navigation"]>hgroup>a {
    display: flex;
    text-decoration: none;
}

.logo-type {
    font-size: 2rem;
    font-weight: 900;
    vertical-align: middle;
    margin: 0.15em 0.25em;
    color: var(--c-title);
}


nav[role="navigation"] img {
    object-fit: contain;
    object-position: left;
}

nav[role="navigation"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--h-nav);
}

nav[role="navigation"]>ul>li {
    list-style-type: none;
    font-size: 1.2rem;
}

nav[role="navigation"]>ul>li>a {
    text-decoration: none;
    display: block;
    padding: 1rem;
}

nav[role="navigation"]>ul>li.active {
    font-weight: 700;
}


nav[role="navigation"]>input[type="checkbox"]#hamburger {
    display: none;
    user-select: none;
}

nav[role="navigation"]>ul[role="list"] {
    display: none;
    width: 100%;
    position: absolute;
    background-color: var(--c-rose);
    top: var(--h-nav);
    left: 0;
    padding: 0;
}

nav[role="navigation"]>input[type="checkbox"]:checked~ul[role="list"] {
    display: block;
}

@media screen and (min-width: 720px) {
    nav[role="navigation"]>label[for="hamburger"] {
        display: none;

    }

    nav[role="navigation"]>ul[role="list"] {
        display: flex;
        justify-content: space-between;
        width: unset;
        position: unset;
        background-color: unset;
        top: unset;
    }

    .toc-container {
        float: right;
    }

}